{
	storage file_system /data/caddy
	email %%EMAIL%%
}

%%WWW_DOMAIN%% {

	%%TLS%%

	encode zstd gzip

	@drf {
		path /api/*
		path /ws/*
	}

	reverse_proxy @drf %%API_HOSTNAME%%:8000 {
		trusted_proxies private_ranges
	}

	reverse_proxy /static/* %%API_HOSTNAME%%:8001

	@spa {
		not path /api/*
		not path /ws/*
		not path /static/*
	}

	reverse_proxy @spa %%WEB_HOSTNAME%%:80

}

%%REDIRECT_DOMAIN%% {

	%%TLS%%

	redir https://%%WWW_DOMAIN%%{uri}

}

%%POOL_DOMAIN%% {

	%%TLS%%

	reverse_proxy %%POOL_HOSTNAME%%:8088 {
		trusted_proxies private_ranges
	}

}


%%POOL2_DOMAIN%% {

	%%TLS%%

	reverse_proxy %%POOL_HOSTNAME%%:8088 {
		trusted_proxies private_ranges
	}

}
%%POOL2_DOMAIN_END%%
